<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[NINA.Joko.Plugin.Orbitals]*</Include>
          <Exclude>[NINA.Joko.Plugin.Orbitals]NINA.Joko.Plugin.Orbitals.Properties.*,[NINA.Joko.Plugin.Orbitals]XamlGeneratedNamespace.*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*.xaml.cs,**/*.g.cs,**/*.g.i.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
